* {
    margin:0;
    padding:0;

}


html {
    zoom: 0.9;
}
body{
    font: normal 16px Helvetica, sans-serif;
}
h1, h3{
    font: normal 24px Helvetica, sans-serif;
}
a:link, a:visited {
    color: black;
    text-decoration: none;
}


/*@media (max-width: 600px){
    .main-content{
        margin: 45px auto;
        padding: 0 25px;
    }
}

@media (max-width: 800px){
    img{
        width: 200px;
    }

    .about{
        max-width: 200px;
        font-size: 
    }
}*/
.intro {
   /* background-color: white;*/
     background-image:
    linear-gradient(
      to top right, 
      #EF0EF8, #511DDE
    );
}


.short_content {
    height: 100vh;
    width: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin: 0;
    padding: 0;
}


.scape{
    font-weight: bolder;
}


#name {
    color: white;
    text-transform: uppercase;
    font-family: 'Avenir_Black', Helvetica, sans-serif;
    font-size: 100px;
    font-size: 9.0vw;
    background-image:
    font-weight: lighter;
   
}

#title {
    color: white;
    text-transform: lowercase;
    font-family: 'Avenir_Light', Helvetica, sans-serif;
    font-size: 3.0vh;
    line-height: 24px;
    letter-spacing: 3px;

}


.about {
    background-color: #f1f1f1;
}

.short_content {
    height: 100vh;
    width: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about p {
    color: black;
    font-family:  Helvetica, sans-serif;
     font-size: 3vmin;
    line-height: 28px;
    letter-spacing: 1px;
    margin-left: 10%;
    text-align: left;
    width: 60%;
    min-width: 50px;
}

/*p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;

}*/

img{
    text-align: center;
    width: auto;
    height: 60%;
    display: block;
}

.button {
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#bottom{
  position:relative;
  width:100%;
  height:30px;   
  bottom:0;
  background-color:  #511DDE;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  padding-top:20px;
}